{% extends 'base.html' %}


{% block content %}
<br>
<h1 style="text-align: center;">Select Exercise!</h1>
<br>
<br>
<div class="container">    
<body>  
<form style="text-align: center;" action="{% url 'searchresult' %}" method='GET'>
        {% csrf_token %} 
<select name="sort-select1" style="width:180px;height:80px; font-size: 20px; margin-right:5px">
        <option value="" selected disabled hidden >운동 종류</option>
        <option class="sort-strech" value="스트레칭">스트레칭</option>
        <option class="sort-hometraining" value="홈트레이닝">홈트레이닝</option>
        <option class="sort-health" value="헬스">헬스</option>
        <option class="sort-knowledge" value="운동지식">운동지식</option>
</select>
<select name="sort-select2" style="width:180px;height:80px; font-size: 20px; margin-left:5px">
        <option style="text-align: center;" value="" selected disabled hidden >운동 부위</option>
        <option class="sort-body" value="전신">전신</option>
        <option class="sort-upperbody" value="상체">상체</option>
        <option class="sort-back" value="등">등</option>
        <option class="sort-breast" value="가슴">가슴</option>
        <option class="sort-waist" value="복근&허리">복근&허리</option>
        <option class="sort-shoulder" value="어깨">어깨</option>
        <option class="sort-arm" value="팔">팔</option>
        <option class="sort-pelvis" value="골반">골반</option>
        <option class="sort-hip" value="엉덩이">엉덩이</option>
        <option class="sort-thigh" value="허벅지">허벅지</option>
        <option class="sort-lowerbody" value="하체">하체</option>
</select> 
<br>
<br>

<style>
        #ii { 
            margin-right: 367px; 
        }
        </style>
        
        <div id="ii" class="text-right" >
        <button style="border: 1px solid #74b9ff; background-color: rgba(0,0,0,0); color: #74b9ff; padding: 5px;">
                 <input class="btn" type="submit" value="검색하기"></button></div>
                 <br>
        </form>
        </body>   
        </div> 


{% endblock %}