{% extends 'base.html' %}
{% load staticfiles %} 

{% block content %}


<div id="fullpage">

            <div class="section">
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
            </div>
          

</div>

<style>


#fullpage .slide:nth-child(1){
    background: url("{% static 'health1.jpg' %}") no-repeat fixed;
    background-size: cover;
  
}
#fullpage .slide:nth-child(2){
    background: url("{% static 'health2.jpg' %}") no-repeat fixed;
    background-size: cover;
   
}
#fullpage .slide:nth-child(3){
    background: url("{% static 'health3.jpg' %}") no-repeat fixed;
    background-size: cover;
}
#fullpage .slide:nth-child(4){
    background: url("{% static 'health4.jpg' %}") no-repeat fixed;
    background-size: cover;
}
</style>

{% endblock %}